img {
    /* width: 50%; */
    height: 200px;
    margin-right: 10px;
}

.example-card {
    height: 400px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.wrapper{
    text-align: center;
    /* position: absolute; */
}
.hideGame {
    
    opacity: 0.09
}
.game {
    max-width: 800px;
    min-height: 800px;
    margin: 70px auto;
    border-radius: 4px;
    position: relative;
}


.infoScreen {
    display: flex;
    justify-content: space-between;
}

button {
    top: 20%;
    left: 40%;
    z-index: 4;
    position: absolute;
}



.congratulate {
color: white;
display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 30px;
}